{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main style="width: 80vw; max-width: 1280px; margin: auto;">
        <section style="margin-top: 100px;">
            {{ if .Site.Params.Portrait.Path }}
            <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}; margin:auto;" />
            {{ end }}
            
            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </section>

        <section class="posts">
            <h2>作品</h2>

            {{ $workPages := where .Site.RegularPages "Type" "in" .Site.Params.subSections }}
            <div class="posts-group">
                <ul class="posts-list">
                    {{ range $workPages }}
                        <li class="post-item">
                            {{ if .Params.thumbnailImage }}
                                <a href="{{.Permalink}}" class="post-item-inner post-item-with-thumbnail">
                                    {{ $img := .Resources.GetMatch .Params.thumbnailImage }}
                                    {{ if $img }}
                                        {{ $resized := $img.Resize "800x q90" }}
                                        <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" class="post-thumbnail">
                                    {{ else }}
                                        <img src="{{ .RelPermalink }}{{ .Params.thumbnailImage }}" alt="{{ .Title }}" class="post-thumbnail">
                                    {{ end }}
                                    <div class="post-item-content">
                                        <div class="post-item-text">
                                            <span class="post-title">{{.Title}}</span>
                                            <p class="post-summary">{{ .Summary | plainify | truncate 120 }}</p>
                                        </div>
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                    </div>
                                </a>
                            {{ else }}
                                <a href="{{.Permalink}}" class="post-item-inner">
                                    <div class="post-item-content">
                                        <div class="post-item-text">
                                            <span class="post-title">{{.Title}}</span>
                                            <p class="post-summary">{{ .Summary | plainify | truncate 120 }}</p>
                                        </div>
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                    </div>
                                </a>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </section>

        <section class="posts">
            <h2>最近の記事</h2>

            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

            <div class="posts-group">
                <ul class="posts-list">
                    {{ range $pages }}
                        <li class="post-item">
                            {{ if .Params.thumbnailImage }}
                                <a href="{{.Permalink}}" class="post-item-inner post-item-with-thumbnail">
                                    {{ $img := .Resources.GetMatch .Params.thumbnailImage }}
                                    {{ if $img }}
                                        {{ $resized := $img.Resize "800x q90" }}
                                        <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" class="post-thumbnail">
                                    {{ else }}
                                        <img src="{{ .RelPermalink }}{{ .Params.thumbnailImage }}" alt="{{ .Title }}" class="post-thumbnail">
                                    {{ end }}
                                    <div class="post-item-content">
                                        <div class="post-item-text">
                                            <span class="post-title">{{.Title}}</span>
                                            <p class="post-summary">{{ .Summary | plainify | truncate 120 }}</p>
                                        </div>
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                    </div>
                                </a>
                            {{ else }}
                                <a href="{{.Permalink}}" class="post-item-inner">
                                    <div class="post-item-content">
                                        <div class="post-item-text">
                                            <span class="post-title">{{.Title}}</span>
                                            <p class="post-summary">{{ .Summary | plainify | truncate 120 }}</p>
                                        </div>
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ time.Format .Site.Params.dateformShort .Date }}
                                            {{ else }}
                                                {{ time.Format "Jan 2" .Date }}
                                            {{ end }}
                                        </span>
                                    </div>
                                </a>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </main>
{{ end }}
