{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main style="width: 80vw; max-width: 1280px; margin: auto;">
        <section style="margin-top: 100px;">
            {{ if .Site.Params.Portrait.Path }}
            <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}; margin:auto;" />
            {{ end }}
            
            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </section>

        <section class="posts">
            <h2>作品</h2>

            {{ $workPages := where .Site.RegularPages "Type" "in" .Site.Params.subSections }}
            <div class="posts-group">
                {{ partial "post-list.html" (dict "pages" $workPages) }}
            </div>
        </section>

        <section class="posts">
            <h2>最近の記事</h2>

            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

            <div class="posts-group">
                {{ partial "post-list.html" (dict "pages" $pages) }}
            </div>
        </section>
    </main>
{{ end }}
