{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <div class="posts-group">
                    {{ partial "post-list.html" (dict "pages" .Pages) }}
                </div>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
